[mysqld]
#datadir=/var/lib/mysql
datadir=/appli/projects/wikib/mariadb/mysql
#socket=/var/lib/mysql/mysql.sock
socket=/appli/projects/wikib/mariadb/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
#log-error=/var/log/mariadb/mariadb.log
log-error=/var/projects/wikib/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

[client]
port=3306
socket=/appli/projects/wikib/mariadb/mysql/mysql.sock


#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
